* {
    padding: 0;
    margin: 0
}

body {
    font-family: tahoma, helvetica, arial, 'bitstream vera sans', sans-serif;
    font-size: 12px;
    text-align: center
}

input, textarea {
    font-size: 12px;
    padding: 3px;
    width: 98%;
}

table, td {
    border: 0;
    padding: 0;
    border-collapse: collapse;
    font-size: 12px
}

select {
    font-size: 12px;
    width: 98%;
}

div {
    line-height: 19px;
    text-align: left;
    word-break: break-all;
    word-wrap: break-word
}

ul, dl, ol {
    list-style: none
}

img {
    border: 0
}

a {
    color: #000
}

a:hover {
    color: #36c
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}


.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.dn {
    display: none
}
a:link, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
label select, label input, label textarea {
    vertical-align: middle;
}


button, input[type="button"] {
    background-color: #005EAC;
    border-width: 0px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 2px 5px;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-lg, .btn-group-lg > .btn {
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
}

.input-button, .input-submit {
    background-color: #005EAC;
    border-color: #B8D4E8 #124680 #124680 #B8D4E8;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    padding: 2px 15px;
    text-align: center;
}
input.gray {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F0F0F0 !important;
    border-color: #FFFFFF #848484 #848484 #FFFFFF !important;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #333333 !important;
}

.errors_div{
    color: darkred;
}

.page-title{

    padding: 0 10px;
}

.page-title h2{
    background: #d4eaf7;
    text-align: center;
    border-radius: 20px;
}

.page-content{
    position:absolute;
    top:120px;
    bottom:0;
    overflow:auto;
    width: 100%;
}
.gradient{
    background: -moz-linear-gradient(top, #ffffff 0%,#d4eaf7  100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d4eaf7));
    background: -webkit-linear-gradient(top, #ffffff 0%,#d4eaf7 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#d4eaf7 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#d4eaf7 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#d4eaf7 100%);
}

.page-body{
    background:#fff;
    margin:30px;
    border:1px solid #ccc;
    padding: 10px;
}


.page-body dl{
    margin-bottom: 10px;
}

.page-list{
    background:none;
    margin:auto;
    border:0;
}

input.input-text{
    padding:5px 0;border:1px solid #ccc;width:100%;color: rgb(136, 136, 136);
}

label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
.navbar{
    margin-bottom: 8px;
}
.list-group {
    padding-left: 0;
    margin-bottom: 2px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 4px 6px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

a.list-group-item,
button.list-group-item {
    color: #555;
}
a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
    color: #333;
}
a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}

.list-group {
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    text-shadow: 0 -1px 0 #286090;
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #2b669a 100%);
    background-image:      -o-linear-gradient(top, #337ab7 0%, #2b669a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2b669a));
    background-image:         linear-gradient(to bottom, #337ab7 0%, #2b669a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
    background-repeat: repeat-x;
    border-color: #2b669a;
}
.list-group-item.active .badge,
.list-group-item.active:hover .badge,
.list-group-item.active:focus .badge {
    text-shadow: none;
}


.bm-header{
    background: #d4eaf7;
}

.bm-menu a{
    display: block;
    float: left;
    margin: 2px;
    padding: 20px 6px;
    background: #0B90C4;
    border: #fff;
    color: #fff;
    font-size: 12px;
    text-align: center;
    word-wrap: break-word;
}


@media (min-width: 320px) {
    .page-content{
        top:100px;
    }
}
@media (min-width: 375px) {
    .page-content{
        top:110px;
    }
    .bm-menu a{
        margin: 3px;
        padding: 20px 10px;
        font-size: 14px;
    }
}
@media (min-width: 450px) {
    .page-content{
        top:130px;
    }

}
@media (min-width: 500px) {
    .page-content{
        top:140px;
    }
    .bm-menu a{
        margin: 4px;
        padding: 30px 20px;
        font-size: 18px;
    }
}
@media (min-width: 600px) {
    .page-content{
        top:160px;
    }
    .bm-menu a{
        margin: 5px;
        padding: 40px 30px;
        font-size: 20px;
    }
}